body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.hero {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #1F2937;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
}

.hero-signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-title {
    width: 400px;
}

.logo {
    font-size: 24px;
}

.hero-title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0; 
}

.hero-title p {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}

.hero-image {
}

.top-bar-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.button-header {
    background-color: #3882F6;
    padding: 8px 35px 8px 35px;
    color: #E5E7EB;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
}


.info-cards {
    background-color: #ffffff;
    color: #626A76;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 170px;
}

.info-cards h1 {
    color: #1F2937;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}


.picture-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.pepe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.pepe img {
    border: 3px solid blue;
    border-radius: 9px;
}

.inspiration-quote-background {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.inspiration-paragraph-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
    border: 3px solid #E5E7EB; 
}

.inspiration-paragraph-container p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
    font-weight: 900;
    margin-top: -75px;
    padding-top: 15px;
    padding-left: 15px;
}

.thor h5 {
    color: #1F2937;
    font-size: larger;
}

.action-background {
    display: flex;
    margin: 80px 10% 80px 10%;
}

.call-to-action-box {
    flex: 1;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-radius: 9px;
    gap: 25px;
    flex-wrap: wrap;
}

.action-left {
    padding-left: 50px;
}

.action-right {
    padding-right: 50px;
}

.action-left p {
    margin-top: -15px;
}

.action-right button {
    background-color: #3882F6;
    padding: 8px 35px 8px 35px;
    color: #E5E7EB;
    border: 3px solid white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}

.footer p {
    margin: 40px;
    font-size: 18px;
}